body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
h1 {
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 100px;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-top: 0;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}
.top-container{
  padding-top: 20px;
  background-color: #beebe9;
  position: relative;
}
.middle-container {

}
.bottom-container {

}
.bottom-cloud {
  position: absolute;

}
.top-cloud {
  position: absolute;
  top: 70px;
  right: 410px;

}
